@model IEnumerable<yungching_web.ViewModels.CustomersTitle>

@{
    ViewBag.Title = "Customers Title Statistics";
}

<h2>Customers Title Statistics</h2>

<table>
    <tr>
        <th>
            Customers Title
        </th>
        <th>
            Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactTitle)
            </td>
            <td>
                @item.ContactTitleCount
            </td>
        </tr>
    }
    <tr>
        <th>
            @Model.Count() Titles
        </th>
        <th>
            @Model.Sum(item => item.ContactTitleCount) Customers
        </th>
    </tr>
</table>
